.DetailsWrapper {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

.detailContainer {
    width: 70%;
    background: linear-gradient(to left, rgb(32, 32, 57), rgb(58, 58, 88));
    color: white;
    margin: 20px;
}

.detaiHead {
    margin: 20px;
}

.detaisdesCont {
    text-align: left;
    margin: 20px;
}
.btncontainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.quisBtn {
    margin-top: 20px;
    background-color: #007bff;
    color: #fff;
    border: 0;
    padding: 10px 20px;
    border-radius: 4px;
    margin-bottom: 20px;
}

@media only screen and (max-width: 1000px) {
    .detailContainer {
        width: 100%;
    }
    .detaiVideo{
        margin: auto;
        width: 90%;
    }
    .youtubevideo{
        width: 100%;
    }
}